<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simply Rugby</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.ActionLink("Senior Team", "Senior", "Players", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Junior Team", "Junior", "Players", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Non-Players", "Index", "nonplayers", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Matches", "Index", "GameRecords", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Training Records", "Index", "TrainingRecords", new { area = "" }, new { @class = "navbar-brand" })
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Simply Rugby</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>